# Binary Classification Problem

In [ ]:
import pandas as pd

In [7]:
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

train_data = pd.read_csv("pima_indians_diabetes.csv", header=None, names=names )

In [8]:
train_data.head(5)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [16]:
train_data.describe()

,preg,plas,pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

 ---

In [10]:
# Split data into Train and Test

from sklearn.model_selection import train_test_split

In [37]:
feature_cols=['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age']

X = train_data[feature_cols]
y = train_data['class']

train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.25, random_state=1)

---

In [38]:
# Train the model

from sklearn.linear_model import LogisticRegression

linear_model = LogisticRegression(random_state=1)

linear_model.fit(train_x, train_y)

predict_lin = linear_model.predict(test_x)

In [39]:
from sklearn.metrics import accuracy_score


# Evaluate accuracy
print(accuracy_score(test_y, predict_lin))

0.78125

---

In [41]:

feature_cols=['plas','test', 'mass', 'age']

X = train_data[feature_cols]
y = train_data['class']

train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.25, random_state=1)

In [42]:
# Train the model

from sklearn.linear_model import LogisticRegression

linear_model = LogisticRegression(random_state=1)

linear_model.fit(train_x, train_y)

predict_lin = linear_model.predict(test_x)

In [43]:
from sklearn.metrics import accuracy_score


# Evaluate accuracy
print(accuracy_score(test_y, predict_lin))

0.765625

---

In [44]:
feature_cols=['preg','mass', 'pedi', 'age']

X = train_data[feature_cols]
y = train_data['class']

train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.25, random_state=1)

In [45]:
# Train the model

from sklearn.linear_model import LogisticRegression

linear_model = LogisticRegression(random_state=1)

linear_model.fit(train_x, train_y)

predict_lin = linear_model.predict(test_x)

In [46]:
from sklearn.metrics import accuracy_score


# Evaluate accuracy
print(accuracy_score(test_y, predict_lin))

0.6927083333333334

---

In [49]:
feature_cols=['plas','mass', 'age']

X = train_data[feature_cols]
y = train_data['class']

train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.25, random_state=1)

In [50]:
# Train the model

from sklearn.linear_model import LogisticRegression

linear_model = LogisticRegression(random_state=1)

linear_model.fit(train_x, train_y)

predict_lin = linear_model.predict(test_x)

In [51]:
from sklearn.metrics import accuracy_score


# Evaluate accuracy
print(accuracy_score(test_y, predict_lin))

0.765625